.search-suggestions {
    position: absolute;
    z-index: 9999;
    top: calc(100% + 14px);
    right: 0;
    left: 0;

    display: none;

    width: 100%;
    margin: 0;
    padding: 0;

    list-style: none;

    text-align: left;

    border-radius: 3px;
    background-color: white;

    &:before {
        position: absolute;
        top: -8px;
        left: calc(50% - 6px);

        width: 12px;
        height: 8px;

        content: '';

        border-right: 6px solid transparent;
        border-bottom: 8px solid white;
        border-left: 6px solid transparent;
    }

    &:focus {
        outline: none;
    }

    h6 {
        position: relative;

        margin: 0 0 2px;
        padding: 16px 16px 12px;

        text-transform: none;

        color: #333;
        border-bottom: 2px solid transparent;

        &:after {
            position: absolute;
            bottom: 0;
            left: 16px;

            width: calc(100% - 32px);
            height: 2px;

            content: '';

            background-color: #ccc;
        }
    }

    a {
        display: block;

        padding: 8px 16px;

        transition: background-color 0.3s ease;

        &:hover,
        &:focus {
            outline: none;
            background-color: #fefefe;
        }
    }

    li:last-of-type a {
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    li + li {
        margin-top: -4px;
    }

    &:empty {
        display: none;
    }
}
